
@{
    ViewBag.Title = "Index";
}

<h2>Menu of the SystemTicket</h2>
<br />
<br />

<table class="table">
    <tbody>
        <tr>
            <td><strong>Formulary of Tickets</strong></td>
            <td>@Html.ActionLink("Link for Ticket", "MostrarTodoTicket")</td>
        </tr>
        <tr>
            <td><strong>Formulary of Type</strong></td>
            <td>@Html.ActionLink("Link for Type", "MostrarTodoTipo")</td>
        </tr>
    </tbody>
</table>

